api/node_modules
api/public/hot
api/public/storage
api/public/js
api/public/css
api/.editorconfig
api/.gitattributes
api/.gitignore
api/.styleci.yml
api/README.md
api/vendor
api/bootstrap/cache
api/supervisord.log
api/supervisord.pid
api/_ide_helper.php
api/.phpstorm.meta.php
api/storage
api/.git
api/yarn_error.log
api/phpunit.xml
api/src/Support/Tests
api/DS_Store
api/idea
api/.vscode
api/.env
api/public
!api/public/index.php
api/.phpunit.result.cache
api/tests
api/public/index.php
api/package-lock.json

frontend/node_modules



